<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MultiScreen</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div id="wrapper">

    <% include ./nav %>
    
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header navbar-top-left">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-top-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Welcome to Multiscreen Management Site.</span>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>ACCESS EVENT CHART</h5>
                        </div>
                        <div class="ibox-content" style="padding-top: 10px; padding-bottom: 10px">
                            <div class="row" id="connect-device-list">
                                <div id="chart" style="width: 100%; height: 460px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery.metisMenu.js"></script>
<script src="/javascripts/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<script src="/javascripts/inspinia.js"></script>
<script src="/javascripts/pace.min.js"></script>
<!-- echarts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts.js"></script>
<!-- jQuery UI -->
<script src="/javascripts/jquery-ui.min.js"></script>
<!-- Public Function -->
<script src="/javascripts/public-function.js"></script>
<script>
    $(document).ready(() => {

        const accessEventData = JSON.parse('<%- accessEventData %>');
        const legendData = accessEventData.map(function(elem) {
            return elem.name;
        });
        const xAxisData = ['0 Hour','1 Hour','2 Hour','3 Hour','4 Hour','5 Hour','6 Hour','7 Hour','8 Hour','9 Hour','10 Hour','11 Hour','12 Hour','13 Hour', '14 Hour','15 Hour','16 Hour','17 Hour','18 Hour','19 Hour','20 Hour','21 Hour','22 Hour','23 Hour'];
        const option = {            // echart 생성을 위한 Option 설정
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                padding: [20, 0, 10, 0],
                data: legendData
            },
            grid: {
                top: "15%",
                left: "3%",
                right: '3%',
                bottom: '5%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: xAxisData
            },
            yAxis: {
                type: 'value'
            },
            series: accessEventData
        };

        const chart = echarts.init(document.getElementById('chart'));       // echart 초기화
        chart.setOption(option);                                            // option을 추가하여 생성

        // Select Device
        $('#select-device').on("change", function(e) {
            const deviceId = $(this).val();

            $.ajax({
                type: "POST",
                url: "/choice/device",
                data: "type=access&id="+deviceId,
                success: function(result) {
                    if (result) {
                        option.series = result.accessEventData;
                        chart.setOption(option);
                    } else {
                        alert(result.message);
                    }
                }
            });
        });

    });
</script>
</body>
</html>
